<style>
  .swiper_product {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  .next_prev {
    display: flex;
    flex-direction: row-reverse;
  }
</style>



<div class="swiper_product">
  <div class="next_prev mb-12">
    <span class="swiper-button-prev_product ">{% render 'left-arrow-slider' %}
    </span>
    <span class="swiper-button-next_product mx-8">{% render 'right-arrow-slider' %}
    </span>
  </div>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->

    <div class="swiper-slide">1111</div>
    <div class="swiper-slide">1334111</div>
    <div class="swiper-slide">115511</div>
    <div class="swiper-slide">2222</div>



  </div>
</div>