<style>
  .swiper_banner {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }
  .next_prev {
    display: flex;
    flex-direction: row-reverse;
  }

  .Hero_banner {
    height: 700px;
  }

  .Banner_slide img {
    height: 700px;

  }

  @media(max-width:762px) {

    .Hero_banner {
      height: 400px;
    }

    .Banner_slide img {
      height: 400px;

    }

  }

  .HomeBabber_Navgation {

    position: relative;
    top: -60%;
    z-index: 6;
    display: flex;
    flex-direction: row-reverse;
  }
</style>



<div class="container-fluid HomePage_banner">



  <div class="swiper_banner Hero_banner">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->

      <div class="swiper-slide">
        <div class="card Banner_slide">
          <img
            class="w-full h-full  object-cover"
            src="{{ 'banner-1.webp' | asset_url }}"
            width="full"
            height="auto"
            loading="lazy">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card shadow-lg overflow-hidden w-full Banner_slide">
          <img
            class="w-full  object-cover"
            src="{{ 'banner-2.jpg' | asset_url }}"
            width="full"
            height="auto"
            loading="lazy">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card shadow-lg overflow-hidden w-full Banner_slide">
          <img
            class="w-full  object-cover"
            src="{{ 'banner-3.jpg' | asset_url }}"
            width="full"
            height="auto"
            loading="lazy">
        </div>
      </div>



    </div>



    <div class="HomeBabber_Navgation mb-12 justify-between py-6">
      <span class="swiper-button-prev_product mx-8">{% render 'left-arrow-slider' %}
      </span>
      <span class="swiper-button-next_product mx-8">{% render 'right-arrow-slider' %}
      </span>
    </div>
  </div>
</div>