<body>
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <p>Slide one</p>
        <img
          src={{ 'http://pre15.deviantart.net/b938/th/pre/f/2013/153/2/2/macro_galaxy_by_zy0rg-d67ifmz.png' | image_url }}
          height=""
          width=""
          loading="lazy" />
      </div>
      <div class="swiper-slide">
        <p>Slide two</p>
        <img
        src={{ 'http://pre15.deviantart.net/b938/th/pre/f/2013/153/2/2/macro_galaxy_by_zy0rg-d67ifmz.png' | image_url }}
        height=""
        width=""
        loading="lazy" />
    </div>
      </div>
      <div class="swiper-slide">
        <p>Slide three</p>
        <img
        src={{ 'http://pre15.deviantart.net/b938/th/pre/f/2013/153/2/2/macro_galaxy_by_zy0rg-d67ifmz.png' | image_url }}
        height=""
        width=""
        loading="lazy" />
    </div>
      </div>
      <div class="swiper-slide">
        <p>Slide four</p>
        <img
        src={{ 'http://pre15.deviantart.net/b938/th/pre/f/2013/153/2/2/macro_galaxy_by_zy0rg-d67ifmz.png' | image_url }}
        height=""
        width=""
        loading="lazy" />
    </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <!--     <div class="swiper-scrollbar"></div> -->
  </div>
</body>