<div class="flexslider  ">
  <ul class="slides">
    <li class="h-full flex items-center justify-center">slide</li>
    <li class="h-full flex items-center justify-center">slide</li>
    <li class="h-full flex items-center justify-center">slide</li>
    <li class="h-full flex items-center justify-center">slide</li>
  </ul>
</div>



{% schema %}
  {
    "name": "HeroBenner",
    "settings": [
      {
        "type": "image_picker",
        "id": "slide_1",
        "label": "slider images"
      },
      {
        "type": "image_picker",
        "id": "slide_2",
        "label": "slider images"
      },
      {
        "type": "image_picker",
        "id": "slide_3",
        "label": "slider images"
      },
      {
        "type": "image_picker",
        "id": "slide_4",
        "label": "slider images"
      }, {
        "type": "image_picker",
        "id": "slide_5",
        "label": "slider images"
      }, {
        "type": "image_picker",
        "id": "slide_6",
        "label": "slider images"
      }

    ]
  }
{% endschema %}