<style>
  .swiper_product {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  .next_prev {
    display: flex;
    flex-direction: row-reverse;
  }
</style>


<div class="container mx-auto my-16">
  <div class="Titles_specific collections">
    <h1 class="text-5xl capitalize mb-10 italic  ">Bags</h1>
  </div>



  <div class="swiper_product">
    <div class="next_prev mb-12">
      <span class="swiper-button-prev_product ">{% render 'left-arrow-slider' %}
      </span>
      <span class="swiper-button-next_product mx-8">{% render 'right-arrow-slider' %}
      </span>
    </div>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->

      <div class="swiper-slide">
        <div class="card shadow-lg overflow-hidden w-full ">
          <img
            class="w-full  object-cover"
            src="{{ 'banner-1.webp' | image_url }}"
            width="full"
            height="auto"
            loading="lazy">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card shadow-lg overflow-hidden w-full ">
          <img
            class="w-full  object-cover"
            src="{{ 'banner-1.webp' | image_url }}"
            width="full"
            height="auto"
            loading="lazy">
        </div>
      </div>



    </div>

  </div>
</div>