<div class="flexslider  ">
  <ul class="slides flex items-center">
    <li>
      <img
        src="{{ 'banner-1.webp' | asset_url }}"
        width="full"
        height="full"
        loading="lazy">
    </li>

    <li>
      <img
        src="{{ 'banner-2.jpg' | asset_url }}"
        width="full"
        height="full"
        loading="lazy">
    </li>

    <li>
      <img
        src="{{ 'banner-3.jpg' | asset_url }}"
        width="full"
        height="full"
        loading="lazy">
    </li>

  </ul>
</div>



{% comment %} Image Picker Slider {% endcomment %}
{% comment %} Image Picker Slider {% endcomment %}
{% comment %} Image Picker Slider {% endcomment %}
{% comment %} Image Picker Slider {% endcomment %}
{% comment %} Image Picker Slider {% endcomment %}
{% comment %} Image Picker Slider {% endcomment %}
{% comment %} Image Picker Slider {% endcomment %}
{% comment %} Image Picker Slider {% endcomment %}
{% comment %} Image Picker Slider {% endcomment %}
{% comment %} Image Picker Slider {% endcomment %}
  <div class="flexslider  "> <ul class="slides flex items-center">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image' %}
        <li>
          {% if block.settings.image %}
            <img
              src="{{ block.settings.image | image_url }}"
              width="full"
              height="full"
              loading="lazy" />
          {% else %}
            <div class="flex items-center justify-center">
              <div>
                <h1 class="text-3xl font-bold py-80">No Images Added in Crauosal</h1>
              </div>
            </div>
          {% endif %}

        </li>
      {% endcase %}
    {% endfor %}
  </ul>
</div>
{% schema %}
  {
    "name": "BannerHomePage",
    "blocks": [
      {
        "type": "image",
        "name": "image_block",
        "limit": 6,
        "settings": [
          {
            "type": "image_picker",
            "label": "Banner Slides",
            "id": "image"
          }
        ]
      }
    ]
  }
{% endschema %}