<div class="Ctc text-center">
  <div class="container mx-auto">
    <div class="Wrapper_ctc">
      <div class="">
        <div class="title_ctc font-bold text-2xl">
          <strong>@Material</strong>
          ON INSTAGRAM
        </div>
        <div class="caption text-lg py-5">

          <p>Kick your resolutions into high gear with our performance wear &amp; tag us
            <strong>@MATERIAL</strong>
            on Instagram</p>
        </div>
      </div>
      <div class="link_ig my-6">
        <a
          target="_blank"
          class="uppercase bg-pink-700 text-white py-3 px-3 text-xl"
          href="https://www.instagram.com/____manish_verma/">View Gallery</a>
      </div>
    </div>

  </div>
</div>


<style>

  .Ctc {
    background-color: #fff9e4;
    padding: 80px 0;

  }
</style>