
<style>
  .featured_collection_nav.justify-between.py-6 {
    display: flex;
    /* top: 328px; */
    top: -270px;
    z-index: 1;
    position: relative;
    /* position: absolute; */
   
}
</style>











<div class="container mx-auto px-3">
  <div class="my-9 slider_title_home_page font-light py-5">
   
    <h1 class="text-center  text-lg md:text-3xl sm:text-2xl lg:text-5xl">{{ section.settings.title }}</h1>
  </div>
{% comment %} slider {% endcomment %}
<div class="swiper w-5/6 mx-auto">
  <!-- Additional required wrapper -->
  {% comment %} Buttons{% endcomment %}

  <div class="swiper-wrapper">
    <!-- Slides -->
  {% for product in section.settings.featured_collection.products limit: section.settings.number_of_product_show %}
    <div class="swiper-slide">
      {% render 'product-card', product_product: product %}
    </div>
  {% endfor %}
  </div>


  </div>

 
 {% comment %}  {% endcomment %}
 <div class="featured_collection_nav  justify-between py-6">
  <span class="featured_collection_slider_nav ">{% render 'icon-featured-arrow-1' %}
  </span>
  <span class="featured_collection_slider_nav ">{% render 'icon-featured-arrow-2' %}
  </span>
</div>
{% comment %}  {% endcomment %}
  {% comment %} end {% endcomment %}

</div>
</div>
{% schema %}
  {
    "name": "Featured Collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "title",
        "default": "Featured Collection"
      }, {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured Collection"
      },
      {
        "type":"range",
        "id":"number_of_product_show",
        "label": "number of product show",
        "default": 6,
        "min": 6,
        "max": 12,
        "step": 1

      } 
    ],
    "presets": [
      {
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}