<div class="container mx-auto my-16">
  <div class="Titles_specific collections">
    <h1 class="text-5xl capitalize mb-10 italic  ">dresses</h1>
  </div>
  <div class="card_wrapper  grid grid-cols-1 md:grid-cols-3  gap-10  ">
    {% assign collection_handle = 'dresses' %}
    {% assign collection_for_dresses = collections[collection_handle] %}

    {% for product in collection_for_dresses.products %}
      <div class="card shadow-lg overflow-hidden w-full  pb-5 mt-3">
        <img
          class="w-full  object-cover"
          src="{{ product.featured_image | image_url }}"
          width="full"
          height="auto"
          loading="lazy">
        <div class="specific_product_details  px-5 py-3 underline hover:no-underline">
          <h2 class="text-2xl mb-3 capitalize">{{ product.title | truncatewords: 3 }}</h2>
          <a class=" text-lg  capitalize hover:text-gray-800 font-medium" href="{{ product.url }}">View Product</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>