<div class="image_width_logos">
  <div class="container mx-auto">
    <div class="heading-withsmall-slider">
      <div class="image-with_text_headings text-center max-w-xl mx-auto pb-5">
        <small>{{ section.settings.title }}</small>
        <h1 class="font-bold  text-2xl  mb-4">{{ section.settings.description }}</h1>
      </div>
      <div class="Logos text-center">
        <img
          class="mx-auto py-9"
          src="{{ 'logos.png' | asset_url }}"
          width="full"
          height="full"
          loading="lazy">
      </div>
      <div class="second_level_banner text-center">
        <img
          class="w-full"
          src="{{ 'lastbanner.jpg' | asset_url }}"
          width="full"
          height="full"
          loading="lazy">
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "second-level-banner",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "title",
        "default": "In the press"

      }, {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "“Move over Prada: Millennials can’t get enough of Confiance”"
      }
    ]
  }
{% endschema %}