<div class="container mx-auto py-16 px-4 sm:py-24 sm:px-6">

  <h1 class="text-2xl font-bold text-gray-700">Account</h1>

  <div class="md:flex block ">
    {% assign number_of_orders = customer.orders | size %}
    {% if number_of_orders > 0 %}

      <div class="my-6 md:my-12">
        <h2 class="text-xl font-bold text-gray-700">Orders history</h2>

        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">

          {% paginate customer.orders by 12 %}
            {% for order in customer.orders %}
              <div class="relative">

                <div class="min-80 bg-gray-200 rounded-md  overflow-hidden lg:h-80">

                  {% if order.line_items.first.image %}
                    <img
                      class="w-full h-full object-cover object-center"
                      src="{{ order.line_items.first.image | image_url}}"
                      alt="{{ order.line_items.first.image.alt }}"
                      width="full"
                      height="full"
                      loading="lazy">
                  {% endif %}


                </div>


              </div>
            {% endfor %}
          {% endpaginate %}
        </div>



      </div>
    {% else %}
      <div class="flex items-center justify-center font-medium">
        <h1 class="text-base">You currently don't have any order
          <a href="{{ routes.all_products_collection_url }}" class="px-4 underline">Orders now</a>
        </h1>

      </div>
    {% endif %}
  </div>
</div>