<div class="Login_form">
  <div class="flex justify-center items-center">
    <div class="card  px-8 py-8">
      <h1>Login form</h1>
    </div>

    <div class="Form_for_login">
      {% form 'customer_login' %}{% endform %}

    </div>


  </div>
</div>