<div class="container mx-auto py-16 px-4 sm:py-24 sm:px-6">

  <h1 class="text-2xl font-bold text-gray-700">Account</h1>

  <div class="md:flex block gap-4">
    {% assign number_of_orders = customer.orders | size %}
    {% if number_of_orders > 0 %}

      <div class="my-6 md:my-12">
        <h2 class="text-xl font-bold text-gray-700">Order history</h2>
      </div>

      <h1>You Dont Have A order
        <a href="{{ routes.collections_url }}">Order now</a>
      </h1>
    {% endif %}
  </div>

</div>