<div class="flex">
  {% assign avalable_product = section.settings.test.products %}

  {% for product in avalable_product %}
    {% if product.available %}
      <div class="">
        {% render 'product-card', product_product: product %}
      </div>

    {% endif %}
  {% endfor %}
</div>


{% schema %}
  {
    "name": "test",
    "settings": [
      {
        "type": "collection",
        "id": "test",
        "label": "Test collection"
      }
    ]
  }
{% endschema %}



{% comment %} 
Show Only Available products

<div class="flex">
{% assign avalable_product = section.settings.test.products | where: 'available' %}
{% for product in avalable_product %}
<div class="">
{% render 'product-card', product_product: product %}
</div>
{% endfor %}
</div>



{% endcomment %}