{% schema %}
  {
    "name": "test",
    "settings": [
      {
        "type": "collection",
        "id": "test",
        "label": "Test collection"
      }
    ]
  }
{% endschema %}



{% comment %} 
Show Only Available products

<div class="flex">
{% assign avalable_product = section.settings.test.products | where: "available", true %}
{% assign not_avalable_product = section.settings.test.products | where: "available", false %}


show in stock products



{% for product in avalable_product %}
<div class="">
{% render 'product-card', product_product: product %}
</div>
{% endfor %}



show out of stock




{% for product in not_avalable_product %}

<div class="">
{% render 'product-card', product_product: product %}
</div>

{% endfor %}
</div>

{% endcomment %}