<div class="flex">
  {% assign avalable_product = section.settings.test.products | where: "available", true %}
  {% assign not_avalable_product = section.settings.test.products | where: "available", false %}
  {% comment %} Show Available Products {% endcomment %}
  {% for product in avalable_product %}
    <div class="">
      {% render 'product-card', product_product: product %}
    </div>
  {% endfor %}
  {% comment %} show out of stock {% endcomment %}
  {% for product in not_avalable_product %}

    <div class="">
      {% render 'product-card', product_product: product %}
    </div>

  {% endfor %}
</div>


{% schema %}
  {
    "name": "test",
    "settings": [
      {
        "type": "collection",
        "id": "test",
        "label": "Test collection"
      }
    ]
  }
{% endschema %}



{% comment %} 
Show Only Available products

<div class="flex">
{% assign avalable_product = section.settings.test.products | where: 'available' %}
{% for product in avalable_product %}
<div class="">
{% render 'product-card', product_product: product %}
</div>
{% endfor %}
</div>



{% endcomment %}